* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 10%;
  overflow: auto;
}

.sx-react-calendar-wrapper {
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}

.box {
  background-color: black;
  border: 1px solid #d8b4ff;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 10px #d8b4ff66;
}

.row {
  display: flex;
  gap: 40px;
  align-items: center;
  /* border: 1px solid red; */
}

.column {
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1;
  /* border: 1px solid blue; */
}

input {
  width: 100%;
  height: 40px;
  background: white;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px 20px 20px 45px;
}

button {
  width: fit-content;
  background-color: #b57edc;
  color: black;
  border: 1px solid #d8b4ff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 500;
  box-shadow: 0 0 6px #d8b4ff44;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #d8b4ff;
  box-shadow: 0 0 10px #d8b4ff88;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
